#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

[Unit]
Description         = Nextcloud cron.php job

[Service]
User                = {{ nextcloud_owner }}
ExecCondition       = php -f {{ nextcloud_install_base_directory }}/nextcloud/server/occ status --exit-code
ExecStart           = /usr/bin/php -f {{ nextcloud_install_base_directory }}/nextcloud/server/cron.php

KillMode            = process
